.navbar-main {
  background-color: #f0f0f0;

}

.content-main{
  position: absolute;
  left:5%;
  background-color: #dfefff;
  width: 90%;
  height: 90%;
}

.content-sub{
  background-color: #dfefff;
  height: 100%;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}