.navbar-main {
  background-color: #f0f0f0;

}

.content-main{
  position: absolute;
  left:5%;
  background-color: #dfefff;
  width: 90%;
  height: 90%;
}

.content-sub{
  background-color: #dfefff;
  height: 100%;
}

@media (max-width: 575px) {
  html {
    font-size:8px;
  }
  h3{
    font-size: .43em;
  }
}

@media (min-width: 576px) {
  html {
    font-size:8px;
  }
  h3{
    font-size: .43em;
  }
}

@media (min-width: 768px) {
  html {
    font-size:10px;
  }
}

@media (min-width: 992px) {
  html {
    font-size:12px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size:14px;
  }
}